$primary-color: #8d3a42;
$primary-color-button-hover: #7e373e;
$primary-color-button-focus: #a8454f;

nav{
  background: $primary-color;
}

footer{
  background: $primary-color!important;
}

.about-tabs-container{
  margin-top: 20px
}

.about-tabs-container li a{
  color: $primary-color;
}

.tabs-about{
  margin-bottom: 15px;
}

.slider-container{
  margin-bottom: 30px;
  box-shadow: 0 4px 2px -2px rgba(128, 60, 66, 0.30);
}

.slider-container h3, .slider-container h5{
  color:$primary-color;
}

.home-cards-container .card{
  background-color: $primary-color;
}

.town-list-container{
  margin-top: 30px;
}

.input-field input[type=text]:focus + label{
  color: $primary-color;
}


.input-field input[type=text]:focus{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}


.input-field input:focus + label{
  color: $primary-color !important;
}


.row .input-field input:focus{
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}


.picker__date-display, .picker__weekday-display{

  background-color: $primary-color;
}

.search-input-container, .datepicker-container{
  margin-bottom: 5px;
}

.collection .collection-item.active {
  background-color: $primary-color;
}

.collection a.collection-item{
  color: $primary-color;
}

.tabs .tab a{
  color: #ee6e73;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: $primary-color;
}

.tabs .indicator{
  background-color: $primary-color;
}

.side-nav{
  width: 120px;
}

.center-container{
  margin-top: 30px;
}

.center-text-container{
  width:100%
}

.input-field .prefix.active{
  color: $primary-color;
}

.towns-collection-container{
  margin-bottom: 0;
}

.btn, .btn-large{
  background-color: $primary-color;
}

.btn:hover, .btn-large:hover{
  background-color: $primary-color-button-hover;
}

.btn:focus, .btn-large:focus, .btn-floating:focus{
  background-color: $primary-color-button-focus;
}

.send-button {
  margin: auto;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center
}

.short-dicribe-container{
  margin-bottom: 0;
  width: 100%;
}

.price-container{
  text-align: right;
}

.app-info .row{
  margin-bottom: 0;
}