nav {
  background: #8d3a42; }

footer {
  background: #8d3a42 !important; }

.about-tabs-container {
  margin-top: 20px; }

.about-tabs-container li a {
  color: #8d3a42; }

.tabs-about {
  margin-bottom: 15px; }

.slider-container {
  margin-bottom: 30px;
  box-shadow: 0 4px 2px -2px rgba(128, 60, 66, 0.3); }

.slider-container h3, .slider-container h5 {
  color: #8d3a42; }

.home-cards-container .card {
  background-color: #8d3a42; }

.doctor-list-container {
  margin-top: 30px; }

.input-field input[type=text]:focus + label {
  color: #8d3a42; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #8d3a42;
  box-shadow: 0 1px 0 0 #8d3a42; }

.input-field input:focus + label {
  color: #8d3a42 !important; }

.row .input-field input:focus {
  border-bottom: 1px solid #8d3a42 !important;
  box-shadow: 0 1px 0 0 #8d3a42 !important; }

.picker__date-display, .picker__weekday-display {
  background-color: #8d3a42; }

.search-input-container, .datepicker-container {
  margin-bottom: 5px; }

.collection .collection-item.active {
  background-color: #8d3a42; }

.collection a.collection-item {
  color: #8d3a42; }

/*# sourceMappingURL=style.css.map */
